<div class="container">
  <div class="row">
    <div class="column">
      <h1 id="main-title"> PROXIVÉLIB</h1>
    </div>
    <div class="column"</div>
  </div>
  </div>
  <br>

<div class="table-container container">


<div class="row">
  <div class="column">
    <table>
      <thead>
        <div class="table-title"> STATIONS À PROXIMITÉ DES LOCAUX DE *THP* </div>
            <tr>
                <th >Nom</th>
                <th >Adresse</th>
                <th >Nombre de vélos</th>
                <th >Distance</th>
            </tr>
      </thead>
        <tbody id="table-content" >
            
        </tbody>
    </table>
  </div>

  <div class="column">
    <div  class="map "id= "main-map" ></div>
  </div>

</div>
</div>

<br>

<div class="container">
  <button type="button" name="button-refresh" class="button-large" onclick="refreshMethod();">REFRESH</button>
</div>

<br>

<div class="container">
  <form>

    <label class="field-title" for="adressField">ADRESSE</label>
    <input type="text" placeholder="Entrez une adresse" id="adressField">
    <input class="button-large" type="submit" value="Find">

</form>
</div>

<%= javascript_include_tag 'api_request' %>
<%= javascript_include_tag 'main_map' %>
